
body {
    background-color: rgb(247, 160, 250);
    color:white;
  }

h1 {
    text-align: center;
color: rgb(50, 24, 73);
}


.cell {
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}

.table-style {
    margin-left: auto;
    margin-right: auto;
    color:darkblue
}

h3 {
    text-align: center;
    color: darkblue;
}

h5 {
    text-align: center;
    color: darkblue;
    cursor: pointer;
}

.current-time {
    text-align: center;
    color: darkblue;
}

.footer {
    text-align: center;
    color: brown;
}

h2 {
    text-align: center;
    color: coral;
    
}


